@model Day1Homeowrk.ViewModels.ViewAndAddMoneyLogViewModel

@{
    ViewBag.Title = "ViewAndAddMoneyLog";
}
<div calss ="well">
    @{
        if (Model != null && Model.AddedLog != null)
        {
            @Html.Partial("_AddMoneyLog", Model.AddedLog)
        }
        else
        {
            @Html.Partial("_AddMoneyLog")
        }
    }
</div>
<div>
    @Html.Action("ChildHistory")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
